@model YardSale.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    
    <!-- Custom styles for this template -->
    <link href="~/Content/Login/Login.css" rel="stylesheet">
</head>
@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "text-center form-signin" }))
{
    <body>
        <form class="form-signin text-center">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <div id="username">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @id = "inputUsername", @Required = "required", @Placeholder = "Username", @Type = "text", @class = "form-signin" } })
            </div>
            <div id="password">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "inputPassword", @Required = "required", @Placeholder = "Password", @Type = "password", @class = "form-signin" } })
            </div>
            @if (Model.HasError)
            {
                <div id="errorMessage">
                    <label style="color:red">@Model.ErrorMessage</label>
                </div>
            }
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mb-1">or</p>
            <a class="mb-3" href="/Profile/Create">Create Account</a>
        </form>
    </body>
}
</html>

